.demo-toolbar {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 4px;
}
.demo-toolbar button {
  line-height: normal;
  height: 24px;
}
.demo-toolbar button,
.demo-toolbar > label {
  display: inline-block;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  height: 24px;
  width: 24px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}
.demo-toolbar button:hover,
.demo-toolbar > label:hover {
  background-color: #dedede;
}
.demo-toggle-button {
  display: none !important;
}
.demo-toggle-button:checked + label {
  background-color: #dedede;
}
.demo-toggle-button:checked:hover + label {
  background-color: #b2b2b2;
}
.demo-toggle-button:disabled + label {
  opacity: 0.5;
  cursor: default;
  background-color: transparent;
}
.demo-toggle-button.labeled + label {
  background-position-x: left;
  width: inherit;
  padding: 0 2px;
  line-height: 24px;
}
.demo-toolbar button:active,
.demo-toolbar > label:active,
.demo-toolbar .demo-toggle-button:checked:active + label {
  background-color: #b2b2b2;
}
.demo-toolbar button:disabled,
.demo-toolbar > .demo-toggle-button:disabled + label {
  opacity: 0.5;
  cursor: default;
  background-color: transparent;
}
.demo-separator {
  height: 20px;
  width: 1px;
  background: #999;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}
.demo-icon-yIconReload {
  background-image: url('../assets/reload-16.svg');
}
.demo-icon-yIconZoomOriginal {
  background-image: url('../assets/zoom-original-16.svg');
}
.demo-icon-yIconZoomIn {
  background-image: url('../assets/magnify-16.svg');
}
.demo-icon-yIconZoomOut {
  background-image: url('../assets/demagnify-16.svg');
}
.demo-icon-yIconZoomFit {
  background-image: url('../assets/fit-16.svg');
}
.search {
  margin-left: auto;
  line-height: 20px;
  padding: 4px 8px;
  font-size: 14px;
  letter-spacing: normal;
  width: 295px;
}

.search:focus {
  outline: none;
}
